body {
  font-size: 40px;
}
nav {
  background-color: #CCC;
}

.toDoList li, .doneList li {
  padding: 0px 20px 0px 20px;
  margin-top: 10px;
  border: 1px solid #CCC;
  list-style-type: none;
}

.toDoList {
  margin-left: 40px;
}

button {
  width: 70px;
  margin-left: 10px;
}
.editButton {
  width: 220px;
}
/*.editInput {
  display: none;
}*/
